html, body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  
  .map,
  #map {
    width: 100%;
    height: 100%;
  }

.topnav {
    font: 25px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #333;
    overflow: hidden;
    z-index: 10;
    position: relative;
    
  }
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  .topnav a.current { 
    background-color: white;
    color: black;
  }


  .FirstDIV {
    position: absolute;
    background-color: #FDC9B3;
    height: 175px;
    right: 0;
    bottom: 0;
    top: 6.5%;
    width: 100%;
    z-index: 9999;
}


.picture {
    z-index: 9999;
    padding:20px;
}


#overlay2 {
  font: 20px 'Courier Prime', sans-serif;
  background-color: #FDC9B3;
  word-wrap: break-word;
  padding:20px;
}

#carousel {
  padding:20px;
}

.container {
  position: absolute;
  top:35%;
}

.carousel-caption {
  font-family: 'Pacifico', serif; 
  font-size: 25px;
  color: white;
  text-shadow:
    1px 0 black,
    0 -1px black,
    -1px 0 black,
    0 1px black;

}

.carousel-item img{
    width: auto;
    height: 300px;
    max-height: 300px;
    }