
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/css/maps.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

    <title>
      About Page
    </title>
  </head>
  <body style="background-color: black;">
    <div class="topnav">
    <a href="/">Home</a>
    <a href="/map/earthquakes">Earthquake Details</a>
    <a href="/map/heatmap">Heatmap</a>
    <a href="/map/significant">Significant Earthquakes</a>
    <a class="current" href="/about">About</a>
  </div>

  <div class="container">
    <div class ="overlay">
        <img src="static/img/me.png" width="350">
    </div>
      <div class="row">
        <div class="col">
          <div class ="FirstDIV" style="font-family: 'Pacifico', serif; font-size: 100px; text-align: center;">
            laura gongaware
          </div>
        </div>
      </div>
    </div>
</body>
</html>