{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/maps.css">
  <!-- <link rel="stylesheet" href="/static/css/bears.css"> -->
{% endblock %}

{% block body %}
  <nav>
    <section id="links-right">
      <a href="/">Homepage</a>
    </section>
  </nav>

  <section class="map">
    <div id="map"></div>
  </section>

  <script src="/static/js/mapStyles.js"></script>
  <script src="/static/js/earthquakeGMap.js"></script>
  <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
  <script
    async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_6h3c10bbsC6fCLl7HZJyA_PjMVStDps&callback=initMap">
  </script>
  
{% endblock %}