{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/maps.css">
{% endblock %}

{% block body %}
<div class="topnav">
  <a href="/">Home</a>
  <a href="/map/heatmap">Heatmap</a>
  <a class="current" href="/map/earthquakes">Earthquake Details</a>
  <a href="/map/significant">Significant Earthquakes</a>
  <a href="">About</a>
</div>

  <section class="map">
    <div id="map"></div>
  </section>
  
<style>

  </style>

  <script src="/static/js/mapStyles.js"></script>
  <script src="/static/js/earthquakeGMap.js"></script>
  <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
  <script
    async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_6h3c10bbsC6fCLl7HZJyA_PjMVStDps&callback=initMap">
  </script>
  
{% endblock %}