{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/pages.css">
    <script src="/static/js/homepage.js"></script>
{% endblock %}

{% block body %}
<body onload="document.body.style.opacity='1'">
    <div class="parallax">
    </div>
    <div style="height:600px;background-color:black;font-size:25px; color: white;">
      <div class = "container">
        <div class="row"><div class="col">
          <h1 style="color: white; font-size: 100px; text-align:center;">Earthquake Maps</h1></div>
          </div>
          <div class="row">
            <div class="col">
              <h4 style="text-align: center;">Select a map from below to view worldwide earthquake data presented three ways</h4>
            </div>
          </div>
        <div class="row"; style = "padding-top: 20px">
          <div class ="col">
            <div id="details" class="hoverwrap"> 
                <a href="/map/earthquakes"><img onmouseover="MouseoverDetails(this)" onmouseout="DefaultText(this)" src="/static/img/Detail.png"/></a>
                <div class="hovercap">Earthquake Details</div>
                </div>
              </div>
            <div class ="col">
              <div id="heatmap" class="hoverwrap"> 
                <a href="/map/heatmap"><img onmouseover="MouseoverHeatmap(this)" onmouseout="DefaultText(this)" src="/static/img/heatmap.png"/></a>
                <div class="hovercap-single">Heatmap</div>
              </div>
            </div>
            <div class ="col">
              <div id="significant" class="hoverwrap">
                  <a href="/map/significant"><img onmouseover="MouseoverSignificant(this)" onmouseout="DefaultText(this)" src="/static/img/button.gif"/></a>
                  <div class="hovercap">Significant Earthquakes</div>
                </div>
              </div>
          </div>
          <div class="row" style="padding-top: 30px;">
              <div id="mapInfoBox" style ="text-align: center;">
              </div>
          </div>
        </div>
      </div>
  <footer class="static-bottom"; style="background-color: black; padding-bottom: 10px;">
    <div class="container">
      <div class="row">
        <div class ="col-1"><a href="https://github.com/LauraGongaware"><img src="static/img/github.png" width="25"></a></div>
        <div class ="col-1"><a href="https://www.linkedin.com/in/laura-gongaware/"><img src="static/img/linkedin.png" width="25"></a></div>
        <div class ="col-1"><a href="/about"><img src="static/img/about.png" width="25"></a></div>
        <div class ="col-1"><a href="https://www.usgs.gov"><img src="static/img/usgs.png" width="70"></a></div>
        <div class="col-6 text-right" id="backgroundinfo"></div>
      </div>
    </div>
  </footer>  
  <script type="text/javascript"> 
    RandomBackground();
    DefaultText()
    BackgroundInfo();
  </script>
</body>

{% endblock %}